.increase-font{
    font-size: large;
    margin-right: 5px;
}

.increase-font-2{
    font-size:x-large;
    /* margin-top: 8px;
    margin-bottom: 5px; */
}

/* .in-grid{
    display: grid;
   
} */

.width-control{
    width:20rem;
    padding:0.1rem;
    margin-left: 4px;
}

.flex-orient{
    display:flex;
    justify-content: center;
}
