.batch-details{
    padding: 10px;
    width: 20%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;  
    text-align: left;
}

.body-batch-details{
    text-align: center;
    display: block;
}

.select-container{
    flex-direction: column;
}
.select-container>select{
    
    align-self:flex-end;
}